<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304523581083-k0bt1osucgmjvbo9reetu7fgjlbs9mtg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304523581083-k0bt1osucgmjvbo9reetu7fgjlbs9mtg</string>
	<key>API_KEY</key>
	<string>AIzaSyAivAeIGSFVi3dDCYozb-iqFwtZhxRs68s</string>
	<key>GCM_SENDER_ID</key>
	<string>304523581083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.takva.masjidhub</string>
	<key>PROJECT_ID</key>
	<string>quran-box</string>
	<key>STORAGE_BUCKET</key>
	<string>quran-box.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304523581083:ios:1d6aabee3c1998a49fd83e</string>
</dict>
</plist>