<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.takva.masjidhub">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDHCWniTkVIVQMpiRVWrGuIRnHYPxoXY-w"/>
</manifest>
